* {
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

header{
	background-color: dodgerblue;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: orange;
	text-shadow: 2px 2px black;
}

nav{
	float: left;
	width: 30%;
	background: sandybrown;
}

nav ul{
	list-style-type: none;
	padding-left: 30px;
	padding-top: 30px;
}

article{
	float: right;
	width: 70%;
	background-color: #f1f1f1;
}

article h2{
	text-align: center;
}

article p{
	border: 2px solid gray;
	padding: 30px 10px;
	margin: 10px; 
	text-align: justify;
}

.altura{
	height: 1200px
}

section:after{
	content: "";
	display: table;
	clear:both;
}

footer {
	background-color: dodgerblue;
	padding: 10px;
	text-align: center;
	color: white;
}